#chicago
  .heading
    margin-bottom: -8px
  #chicago-svg
    border: 1px solid $border-color
    background: url('/images/chicago.png')
    background-size: cover
    height: 600px
    width: 500px
    @media screen and (max-width: 500px)
      width: 340px
      height: 400px

@media screen and (max-width: 500px)
  .map-svg-container
    margin-top: 20px

.select-container
  top: -37px
  left: -1px

.chicago-svg-key
  transform: rotate(90deg)
  position: absolute
  top: 265px
  left: -349px

.svg-slider  
  margin-top: -13px
  margin-left: -14px

#chicago-crime-tally
  margin-top: 26px
