#chicago

  #chicago-svg
    border: 1px solid $border-color
    // background: url('/images/brooklyn.png')
    // background-size: cover
    height: 600px
    width: 500px
    @media screen and (max-width: 500px)
      width: 340px
      height: 400px

.chicago-svg-key
  transform: rotate(90deg)
  position: absolute
  top: 265px
  left: -349px
