lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.env
pids
logs
results
npm-debug.log
node_modules
.DS_Store
public/assets
dump.rdb
apps/brooklyn/data/brooklyn-sales.json
apps/brooklyn/data/raw-brooklyn-sales.json
apps/311/data/311-by-neighborhood.json
apps/311/data/311-by-neighborhood-small.json
apps/chicago/data/chicago-crimes.json
apps/chicago/data/chicago-crimes-small.json
