@import '../../../components/layout/stylesheets/stylus_lib.styl'

#three
  width: 1350px;
  .map-svg-container
    max-width: 100%
    width: 100%
    .left-section
      position: relative
      display: inline-block
      vertical-align: top
      width: 1052px
    .right-section
      position: relative
      display: inline-block
      vertical-align: top
      width: 200px

#three-svg
  border: 1px solid $border-color
  background: url('/img/north-carolina.jpg')
  background-size: cover
  height: 400px
  width: 1052px
  @media screen and (max-width: 500px)
    width: 340px
    height: 400px

@media screen and (max-width: 500px)
  .map-svg-container
    margin-top: 20px

.north-carolina-svg-key
  position: absolute
  bottom: 18px
  left: 30px
  width: 495px

.circle
  pointer-events: none
  stroke: none

.select-container
  top: -39px

.tract
  stroke: #aaa

.graph-section
  border: 1px solid $border-color
  border-top: 0px solid
  padding: 20px
  margin-top: -20px
  margin-bottom: 20px

.bar-graph-section
  font-size: 12px
  color: rgba(0, 0, 0, 0.8)
  svg
    padding-right: 20px
    &:nth-child(4n)
      padding-right: 0px

  rect
    fill: rgba(0, 0, 0, 0.8)
  text
    fill: rgba(0, 0, 0, 0.8)
    text-anchor: end
    &.key-label
      font-weight: bold
    &.value-label
      font-weight: normal

.tract
  stroke: black
  stroke-width: 2px

.options-container
  position: absolute
  bottom: 18px
  right: 4px
  width: 247px
  line-height: 100%
  .option
    background: white
    border: 1px solid $border-color
    border-radius: 5px
    width: 66px
    height: 10px
    font-size: 12px
    color: black
    display: inline-block
    padding: 6px 6px
    line-height: 95%
    text-align: center
    margin-right: 3px
    margin-bottom: 3px
    transition: all 0.3s
    &:hover
      background: rgba(87, 144, 188, 0.2)
    &.active
      background: #5790BC
      color: white
      font-weight: bold
    &:nth-child(3n)
      margin-right: 0px

.bar-graph-section
  .heading-container
    width: 61%
    display: inline-block
    vertical-align: top
    margin-right: 30px
    margin-bottom: 30px
    h1
      text-align: left
  .key-container
    max-width: 279px
    display: inline-block
    vertical-align: top
    margin-top: 43px
    margin-left: 34px

header
  p.center
    text-align: center
    width: 70%
    margin-left: auto
    margin-right: auto

.map-svg-container
  font-size: 18px
  .heading
    font-size: 22px
  .map-types
    width: 1056px
    .map-type
      font-size: 16px
      text-align: center
      display: inline-block
      width: calc(25% - 2px)
      padding: 4px 0px
      border: 1px solid $border-color
      border-right: 0px solid
      border-bottom: 0px solid
      cursor: pointer
      transition: all 0.2s
      &:last-child
        border-right: 1px solid $border-color
        width: calc(25% - 1px)
      &:hover
        background: rgba(87, 144, 188, 0.2)
      &.active
        background: #5790BC
        color: white
        font-weight: bold

.representation-list
  padding-left: 20px
  .small-text
    font-size: 11px
  .representation-list__item
    border-bottom: 1px solid $border-color
    &:first-child
      border-top: 1px solid $border-color
    .representation-list__item__title
      font-weight: bold
      text-transform: uppercase
      font-size: 13px
      display: inline-block
      width: 50%
      text-align: left
    .representation-list__item__value
      display: inline-block
      width: 50%
      text-align: right

        

.political-section
  .color10
    fill: #67001E
    background: #67001E
  .color9
    fill: #B2172B
    background: #B2172B
  .color8
    fill: #D6604D
    background: #D6604D
  .color7
    fill: #F5A582
    background: #F5A582
  .color6
    fill: #FDDBC7
    background: #FDDBC7
  .color5
    fill: #F7F7F7
    background: #F7F7F7
  .color4
    fill: #D1E5F0
    background: #D1E5F0
  .color3
    fill: #92C5DE
    background: #92C5DE
  .color2
    fill: #4293C3
    background: #4293C3
  .color1
    fill: #2066AC
    background: #2066AC
  .color0
    fill: #032F61
    background: #032F61
