#nc
  .heading
    margin-bottom: -8px

#three-svg
  border: 1px solid $border-color
  background: url('/images/north-carolina.jpg')
  background-size: cover
  height: 400px
  width: 1054px
  @media screen and (max-width: 500px)
    width: 340px
    height: 400px

@media screen and (max-width: 500px)
  .map-svg-container
    margin-top: 20px

.north-carolina-svg-key
  position: absolute
  bottom: 18px
  left: 30px
  width: 495px

.circle
  pointer-events: none
  stroke: none

.select-container
  top: -39px

.tract
  stroke: #aaa

.graph-section
  border: 1px solid $border-color
  border-top: 0px solid
  padding: 20px
  height: 150px
