a( href="https://plus.google.com/+BrennanMoore" rel="publisher" style="display: none" )
.author( itemscope="" itemprop="author" itemtype="http://schema.org/Person" )
  .written-by-note Created By
  .portrait
    img( itemprop="image" src="http://secure.gravatar.com/avatar/ed442a2cfbe84d5bf40e09c58ba80b5f?size=200" )
  .info
    a.name.faux-underline-large( itemprop="name", href="http://www.zamiang.com" ) Brennan Moore
    p.subheading Building build web applications to help people go about their day in a more awesome way.
    p.call-to-action Follow me on Twitter&nbsp;
      a( href="https://twitter.com/zamiang" ) here
footer
  div -
  a( href="https://github.com/zamiang/vislet" ) Source
