footer
  padding 18px
  text-align right
  font-size: 13px
  text-align: center
  a, span
    color #fff
    text-decoration none

.author
  border-top: 1px solid #e2e2e2
  text-align: center
  margin-top: 30px
  font-size: 20px
  .portrait
    border-radius: 50%
    border: 3px solid #FFF
    background: #FFF
    height: 200px
    width: 200px
    overflow: hidden
    margin: 0 auto
  .written-by-note
    franklin-gothic()
    line-height: 148%
    font-weight: normal
    letter-spacing: 2px
    text-transform: uppercase
    font-size: 13px
    margin-top: 26px
    margin-bottom 10px
  .name
    font-size: 28px
    text-align: center
    franklin-gothic()
    letter-spacing: 2px
    color: #333
    margin-bottom: 28px
    line-height: 148%
    font-weight: normal
  p
    margin-left: auto
    margin-right: auto
