extends ../../../components/layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'nc'

block body
  #three.map-app
    include ../../../components/layout/header/intro.jade
    header
      .heading Gerrymandering in North Carolina
      p.center Investigating gerymandering in my home state to better understand what 'equal representation' really means.
      .border
    .map-svg-container
      .heading Ways to draw districts
      .map-types
        a.map-type( href="/north-carolina?area=official-2012" ) Official 2012
        a.map-type( href="/north-carolina?area=splitline" ) Shortest Splitline
        a.map-type( href="/north-carolina?area=brian" ) Brian Olsen
      .left-section      
        svg#three-svg.svg-map.red-map
        .north-carolina-svg-key.graph-key-container.visible.red-map
        .options-container
      .right-section
        .current-area
          .representation
    .graph-section.bar-graph-section.political-section
      .heading-container
        h1 Politial groups by the numbers
        p The census purpose stems from helping decide how to apportion the number of members of the House. Here we take a look at some of the census groups to see if they are evenly, or unevenly distributed around the state.
        p Y axis is the district number (todo label this!)
      .key-container
        .north-carolina-stats-svg-key.graph-key-container.visible
      .svg-container
    .markdown-text( itemtype="http://schema.org/BlogPosting" )
      time( datetime="2014-03-29T03:24:00" itemprop="datePublished" ) March 29, 2015
      h1( itemprop="name headline" ) A look at Gerrymandering through the lens of North Carolina
      div( itemprop="articleBody" )
        include:marked text.md
    include ../../../components/layout/footer/bio.jade
