.stacked-area-chart
  font-size: 12px
  fill: #333

  .axis path, .axis line
    fill: none
    stroke: #333
    shape-rendering: crispEdges
  
  .buidling-type text
    text-anchor: end

  .tooltip-label
    paint-order: stroke
    stroke-width: 1px
    stroke-linecap: butt
    stroke-linejoin: miter
    stroke: #fff
    franklin-gothic()
    fill: #333
    pointer-events: none

  .tooltips
    display: none
    pointer-events: none
