.stacked-area-chart
  font-size: 12px
  fill: #333

  .axis path, .axis line
    fill: none
    stroke: #333
    shape-rendering: crispEdges
  
  .buidling-type text
    text-anchor: end

  .label-text
    franklin-gothic()
    text-transform: uppercase
    fill: #333
    background-color: white
    paint-order: stroke
