extends ../../../components/layout/templates/index

block head
  include ../../../components/layout/templates/common_head

append locals
  - assetPackage = 'home'

block body
  #home
    header
      .heading.faux-underline-large VISLET
      .sub-heading Small interactive visualizations to help us understand the cities we live in.
    .border
    .projects
      a.project( href="/brooklyn" )
        .project-title.heading.faux-underline-large Brooklyn Residential Sales 2003-2014
        .brooklyn-sales-image

    include ../../../components/layout/footer/bio.jade      
