extends ../../../components/layout/templates/index

block head
  include ../../../components/layout/templates/common_head

append locals
  - assetPackage = 'home'

block body
  #home
    header
      .heading.faux-underline-large Visualizations of city data
      .sub-heading Small interactive visualzations to help us understand the cities we live in.

    .projects
      a.project
