extends ../../../components/layout/templates/index

block head
  include ../../../components/layout/templates/common_head

append locals
  - assetPackage = 'home'

block body
  #home
    header
      .heading.faux-underline-large VISLET
      .sub-heading Small interactive visualizations to help us understand the cities we live in.
    .border
    .projects
      .project-title Projects
      a.project( href="/brooklyn" )
        .title.faux-underline Brooklyn Property Sales
        .description A look at 322,056 property sales in Brooklyn from 2003 to 2014

      a.project( href="/311" )
        .title.faux-underline NYC 311 Calls
        .description A look at 7.7 million 311 calls across all 5 boroughs of New York from 2010 to 2014.

    include ../../../components/layout/footer/bio.jade      
