extends ../../../components/layout/templates/index

block head
  include ../../../components/layout/templates/common_head

append locals
  - assetPackage = 'home'

block body
  #home
    header
      .heading.faux-underline-large Visualizations of city data
      .sub-heading The goal of this project is to display data in a readable and interesting way
