.tooltip-label
  paint-order: stroke
  stroke-width: 1px
  stroke-linecap: butt
  stroke-linejoin: miter
  franklin-gothic()
  fill: #333

.tooltips
  pointer-events: none
  display: none
  .tooltip-label, .tooltip-circle
    pointer-events: none
  .tooltip-circle
    fill: none
    paint-order: stroke
    stroke-width: 2px
    stroke-linecap: butt
    stroke-linejoin: miter
