defs
  pattern( id="diagonalHatch" patternUnits="userSpaceOnUse" x="0" y="0" width="105" height="105" )
    g( style="fill:none; stroke:#ddd; stroke-width:1" )
      path( d="M0 90 l15,15" )
      path( d="M0 75 l30,30" )
      path( d="M0 60 l45,45" )
      path( d="M0 45 l60,60" )
      path( d="M0 30 l75,75" )
      path( d="M0 15 l90,90" )
      path( d="M0 0 l105,105" )
      path( d="M15 0 l90,90" )
      path( d="M30 0 l75,75" )
      path( d="M45 0 l60,60" )
      path( d="M60 0 l45,45" )
      path( d="M75 0 l30,30" )
      path( d="M90 0 l15,15" )
