.svg-map
  font-size: 12px
  .tract:hover
    fill: $red
    transition fill 0.1s

  .tract.selected
    fill: hsla(207, 44%, 50%, 0.9)
    stroke: rgb(70, 130, 180)

  .subunit-label
    fill: #777
    fill-opacity: .5
    font-size: 2px
    text-anchor: middle
    pointer-events: none
    franklin-gothic()

  .label-text
    franklin-gothic()
    text-transform: uppercase
    fill: #333
    background-color: white

.tract, .park
  fill: rgba(250, 250, 250, 0.2)
  stroke: rgb(180, 180, 180)

.park
  fill: url(#diagonalHatch)
  
.color0
  fill: #3288bd
  background-color: #3288bd
  opacity: 0.7
.color1
  fill: #66c2a5
  background-color: #66c2a5
  opacity: 0.7
.color2
  fill: #abdda4
  background-color: #abdda4
  opacity: 0.7
.color3
  fill: #e6f598
  background-color: #e6f598
  opacity: 0.7

.color4
  fill: #ffffbf
  background-color: #ffffbf
  opacity: 0.7

.color5
  fill: #fee08b
  background-color: #fee08b
  opacity: 0.7
.color6
  fill: #fdae61
  background-color: #fdae61
  opacity: 0.7
.color7
  fill: #f46d43
  background-color: #f46d43
  opacity: 0.7
.color8
  fill: #d53e4f
  background-color: #d53e4f
  opacity: 0.7
