.tract
  fill: #eee
  stroke: #777

.tract:hover
  fill: orange

.subunit-label 
  fill: #777
  fill-opacity: .5
  font-size: 2px
  text-anchor: middle
  franklin-gothic()

.park
  fill: #eee
  stroke: #777
