#brooklyn
  min-height 100%
  width: 1102px
  margin: 0px auto
  header
    .sub-heading
      text-align: left
      width: 100%
  .svg-graphs
    vertical-align: top
    display: inline-block
    width: 600px
  .map-svg-container
    display: inline-block
    max-width: 500px
    position: relative
  .svg-container
    width: 100%
    &.third-width
      width: 700px

  #brooklyn-svg
    border: 1px solid $border-color
    background: url('/images/brooklyn.png')
  .graph-heading-container
    margin-bottom: 1px
    margin-left: 14px
    height: 80px
    > div:first-child
      height: 41px
      .graph-heading
        font-size: 20px
        white-space: nowrap
        text-overflow: ellipsis
        width: 92%
        overflow: hidden
      .circle-key
        height: 30px
        width: 30px

    .circle-key, .graph-heading
      display: inline-block
      vertical-align: top
    .circle-key
      width: 20px
      height: 20px
      border-radius: 100%
      &.blue
        background: $blue
      &.red
        background: $red
      &.gray
        background: $gray

    .graph-heading
      width: 90%
      franklin-gothic()
      line-height: 150%
      letter-spacing: 1px
      text-transform: uppercase
      margin-left: 10px
      margin-top: -1px
      font-size: 14px
      &:first-child
        font-size: 20px


.brooklyn-svg-key
  transform: rotate(90deg)
  position: absolute
  top: 265px
  left: -349px

.markdown-text
  font-size: 15px
  h1, h2, p
    max-width: 548px
  .svg-building-class
    width: 548px
  .stacked-area-chart
    height: 350px

.commercial-sales
  display: none

.svg-building-class, .svg-line-graph
  height: 270px
  width: 600px
  vertical-align: top
  display: inline-block
  &.third-width
    width: 700px

.sales-group
  margin-top: 20px

.svg-slider
  margin-top: -13px
  margin-left: -14px

.brooklyn-svg.back
  franklin-gothic()
  text-transform: uppercase
  font-size: 17px
  position: absolute
  top: 9px
  right: 22px
  color: #333
  display: none
