#brooklyn
  #brooklyn-svg
    border: 1px solid $border-color
    background: url('/images/brooklyn.png')
    background-size: cover
    height: 600px
    width: 500px
    @media screen and (max-width: 500px)
      width: 340px
      height: 400px

.brooklyn-svg-key
  transform: rotate(90deg)
  position: absolute
  top: 265px
  left: -349px

.commercial-sales
  display: none

.svg-building-class, .svg-line-graph
  height: 270px
  width: 600px
  vertical-align: top
  display: inline-block
  &.third-width
    width: 700px

#brooklyn-residential-building-class
  margin-top: 10px

.sales-group
  margin-top: 20px

.svg-slider
  margin-top: -13px
  margin-left: -14px

@media screen and (max-width: 500px)
  #brooklyn
    min-width: 0px
    .svg-building-class, .stacked-area-chart, .svg-graphs
      width: 340px
    .graph-heading-container
      margin-left: 0px
    .brooklyn-svg-key
      display: none
