#brooklyn
  min-height 100%
  header
    text-align center
  .svg-graphs
    vertical-align: top
    display: inline-block
    width: 600px
  #brooklyn-svg
    border: 1px solid #ccc

.markdown-text
  font-size: 15px
  max-width: 550px

.commercial-sales
  display: none

#brooklyn-building-class
  height: 250px
  width: 600px
  vertical-align: top
  display: inline-block
