html.wf-active body
  .vislet-intro
    font-size: 15px
    padding: 9px 0px 0px
    margin-bottom: 60px
    text-align: center
    a
      color: #555
      &:hover
        text-decoration: underline
    b
      color: black
      franklin-gothic()
      font-weight: normal
      letter-spacing: 1px
    .small-border
      width: 360px
      height: 1px
      background: #ECECEC
      margin: 7px auto 0px
