html.wf-active body
  .vislet-intro
    font-size: 15px
    color: $light-gray
    padding: 6px 0px
    margin-bottom: 60px
    text-align: center
    a
      color: black
      franklin-gothic()
      letter-spacing: 1px
