html.wf-active body
  .vislet-intro
    font-size: 15px
    padding: 11px 0px 0px
    margin-bottom: 110px
    text-align: center
    a
      color: #555
    .items
      a
        display: inline-block
        margin: 0px 20px
        franklin-gothic()
        text-transform: uppercase
        letter-spacing: 2px
        line-height: 150%
        color: $default-font-color
    .title
      color: black
      font-weight: normal
      letter-spacing: 1px
      line-height: 141%
      font-size: 20px
      margin-bottom: 10px
    .about
      margin: 0px auto 3px
