.vislet-intro
  a.title.faux-underline-large( href="/" ) VISLET
  .about Small interactive visualizations to help us understand the cities we live in.
  .items
    a.faux-underline-hover( href="/brooklyn" ) Brookyln Residential Sales
    a.faux-underline-hover( href="/311" ) NYC 311 Calls
    a.faux-underline-hover( href="/chicago" ) Chicago Crime
