.vislet-intro
  a( href="/" )
    b VISLET
  | &nbsp;Small interactive visualizations to help us understand the cities we live in.
  .items
    a( href="/brooklyn" )
      Brookyln
    a( href="/311" )
      311
    a( href="/Chicago" )
      Chicago
  .small-border
