.svg-line-graph
  font-size: 12px
  fill: $dark-gray

  .axis path, .axis line
    fill: none
    stroke: $dark-gray
    shape-rendering: crispEdges

  .x-axis path
    display: none

  .trend-area
    fill: $gray

  .line
    fill: none
    stroke: steelblue
    stroke-width: 1.5px
    &.mean-line
      stroke: $gray
    &.compare-line
      stroke: $red

  circle
    &.mean-circle
      stroke: $gray
