.svg-line-graph
  font-size: 12px
  fill: #333

  .tooltip-label
    paint-order: stroke
    stroke-width: 1px
    stroke-linecap: butt
    stroke-linejoin: miter
    stroke: #fff
    franklin-gothic()
    fill: #333
    pointer-events: none

  .axis path, .axis line
    fill: none
    stroke: #333
    shape-rendering: crispEdges

  .x-axis path
    display: none

  .tooltips
    pointer-events: none
    display: none
    &*
      pointer-events: none
  .line
    fill: none
    stroke: steelblue
    stroke-width: 1.5px
    &.mean-line
      stroke: lightgrey

  circle
    &.mean-circle
      stroke: lightgrey

  .label-text
    franklin-gothic()
    text-transform: uppercase
    fill: lightgrey
    background-color: white
