#home
  margin-top: 50px
  min-height 100%

  header
    text-align center
  
  .brooklyn-sales-image
    background-image: url('../images/brooklyn-res-sales.jpg')

  .three-image
    background-image: url('../images/three.jpg')

  .cover-image
    background-size: cover
    width: 480px
    height: 170px
    background-position: center center
    margin: 0px auto
    border: 1px solid #CCC
    @media screen and (max-width: 500px)
      width: 340px
      height: 300px

  .projects
    text-align: center
    .project
      margin-bottom: 20px
      display: block
  .project-title
    avant-garde()
