#home
  margin-top: 50px
  min-height 100%

  header
    text-align center
  
  .brooklyn-sales-image
    background-image: url('../images/brooklyn-sales.jpg')
    background-size: cover
    width: 536px
    height: 415px
    background-position: center center
    margin: 0px auto
    border: 1px solid #CCC
    @media screen and (max-width: 500px)
      width: 340px
      height: 300px

  .projects
    text-align: center
  .project-title
    avant-garde()
