extends ../../../components/layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'brooklyn'

block body
  #brooklyn
    header
      .heading.faux-underline-large Brooklyn Building Sales 2003-2014
      .sub-heading Click a neighborhood to see graphs for that area. Hover an area to compare.
    .map-svg-container
      svg#brooklyn-svg.svg-map( height='600px', width='500px' )
        include ../../../components/svg-map/defs.jade
      .brooklyn-svg-key
      a.brooklyn-svg.back.faux-underline-large( href="#" ) Back to overview
      svg#brooklyn-date-slider.svg-slider( width='500px' )
    .svg-graphs
      .graph-heading-container
        .selected-neighborhood-name
          .circle-key.blue
          .graph-heading
        .hover-neighborhood-name
          .circle-key.red
          .graph-heading
        .avg-neighborhood-name
          .circle-key.gray
          .graph-heading Borough Average
      .residential-sales.sales-group
        svg#brooklyn-residential-price-tally.svg-line-graph
        // svg#brooklyn-residential-tally.svg-line-graph
        svg#brooklyn-residential-building-class.stacked-area-chart.svg-building-class
     include text.html
