extends ../../../components/layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'brooklyn'

block body
  #brooklyn
    header
      .heading.faux-underline-large Brooklyn Building Sales 2003-2014
      .sub-heading The goal of this project is to display sales in a readable and interesting way
    .graph-heading-container
      .circle-key
      .graph-heading Neighborhood Name
    svg#brooklyn-svg( height='600px', width='500px' )
    .svg-graphs
      .tabs
        .tab( data-class="commercial-sales" ) Commercial
        .tab.active( data-class="residential-sales" ) Residential
      .residential-sales.sales-group
        svg#brooklyn-residential-tally.svg-line-graph
        svg#brooklyn-residential-price-tally.svg-line-graph
        svg#brooklyn-residential-building-class.svg-line-graph.svg-building-class
      .commercial-sales.sales-group
        svg#brooklyn-commercial-tally.svg-line-graph
        svg#brooklyn-commercial-price-tally.svg-line-graph
        svg#brooklyn-commercial-building-class.svg-line-graph.svg-building-class
     include text.html
