extends ../../../components/layout/templates/index

block head
  include meta

append locals
  - assetPackage = 'brooklyn'

block body
  #brooklyn
    include ../../../components/layout/header/intro.jade
    header
      .heading.faux-underline-large Brooklyn Residential Sales 2003-2014
      .sub-heading Click a neighborhood to see graphs for that area. Hover an area to compare residential sales.
    .map-svg-container
      svg#brooklyn-svg.svg-map
        include ../../../components/svg-map/defs.jade
      .brooklyn-svg-key
      a.brooklyn-svg.back.faux-underline-large( href="#" ) Back to overview
      svg#brooklyn-date-slider.svg-slider( width='500px' )
    .svg-graphs
      .graph-heading-container
        .selected-neighborhood-name
          .circle-key.blue
          .graph-heading Selected Neighborhood
        .hover-neighborhood-name
          .circle-key.red
          .graph-heading Hovered Neighborhood
        .avg-neighborhood-name
          .circle-key.gray
          .graph-heading Borough Average
      .residential-sales.sales-group
        svg#brooklyn-residential-price-tally.svg-line-graph
        svg#brooklyn-residential-building-class.stacked-area-chart.svg-building-class
     .markdown-text( itemtype="http://schema.org/BlogPosting" )
        time( datetime="2014-01-12T03:24:00" itemprop="datePublished" ) January 12, 2015
        h1( itemprop="name headline" ) A look at the NYC Department of Finance Residential Property Sales Data
        div( itemprop="articleBody" )
          include:md text.md
        include ../../../components/layout/footer/bio.jade
