.graph-keys
  font-size: 12px
  column-count: 3
  column-gap: 10px
  column-fill: auto
  width: 550px
  .graph-key
    max-height: 29px
  .key-circle, .key-text
    display: inline-block
    vertical-align: top
  .key-text
    margin-top: 3px
    text-transform: uppercase
    line-height: 1
    max-width: 87%
    width: calc(100% - 21px)
    text-overflow: ellipsis
  .key-circle
    width: 16px
    height: 16px
    border-radius: 8px
    margin-right: 5px
  @media screen and (max-width: 500px)
    height: 192px
    width: 300px
    .graph-key
      max-height: 42px
      overflow: hidden

.linear-graph-key
  font-size: 12px
  width: 100%
  line-height: 200%
  .key-bar
    height: 10px
    width: 10px
    display: inline-block
  .key-bar-values
    text-align: center
  .key-bar-value
    display: inline-block
    text-transform: capitalize
    line-height: 1
    height: 12px
  .key-label
    text-align: center
