.graph-keys
  font-size: 12px
  column-count: 3
  column-gap: 10px
  height: 100px
  .graph-key
    height: 29px
  .key-circle, .key-text
    display: inline-block
    vertical-align: top
  .key-text
    margin-top: 3px
    text-transform: capitalize
    line-height: 1
    height: 12px
    max-width: 87%
    text-overflow: ellipsis
  .key-circle
    width: 16px
    height: 16px
    border-radius: 8px
    margin-right: 5px

.linear-graph-key
  font-size: 12px
  width: 100%
  line-height: 200%
  .key-bar
    height: 10px
    width: 10px
    display: inline-block
  .key-bar-values
    text-align: center
  .key-bar-value
    display: inline-block
    text-transform: capitalize
    line-height: 1
    height: 12px
  .key-label
    text-align: center
