@import '../../../node_modules/nib'

// Typography
garamond()
  font-family: "adobe-garamond-pro", Georgia, Cambria, "Times New Roman", Times, serif
  letter-spacing: 0.01rem
  text-rendering: optimizeLegibility
  font-smoothing: antialiased
  letter-spacing 1px

franklin-gothic()
  font-family: "franklin-gothic-urw", sans-serif
  font-smoothing antialiased
  letter-spacing 0px
